<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>net.vrakin.questionnaire.servlet.QuestionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/questionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StaticServlet</servlet-name>
        <servlet-class>net.vrakin.questionnaire.servlet.StatisticServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StaticServlet</servlet-name>
        <url-pattern>/staticServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>net.vrakin.questionnaire.listener.StartListener</listener-class>
    </listener>

    <context-param>
        <param-name>question.Sport</param-name>
        <param-value>What is favorite sport?football|volleyball|tennis|chess?0|0|0|0</param-value>
    </context-param>
    <context-param>
        <param-name>question.Color</param-name>
        <param-value>What is favorite color?blue|white|black|yellow?0|0|0|0</param-value>
    </context-param>
    <context-param>
        <param-name>question.Drink</param-name>
        <param-value>What is favorite drink?tea|coffee|cacao|milk?0|0|0|0</param-value>
    </context-param>
    <context-param>
        <param-name>db.url</param-name>
        <param-value>hhhhhh</param-value>
    </context-param>
</web-app>


